body {
  background-color: #70C5CE;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}

.sky {
  width: 100%;
  height: 100%;
  background-image: url('img/flappy-bird-background-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: fixed;
  /*top: 130px;*/
  /*top: 20%;*/
  bottom: 100px;
}

.ground {
  width: 100%;
  height: 100px;
  background-image: url('img/ground.png');
  z-index: 2;
  position: fixed;
  bottom: 0;
}

#windowScore{
  padding: 40px 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#logo {
  width: 10%;
}
#logo img {
  width: 100%;
}

#score {
  width: 80%;
  color: #4C3C46;
  text-align: center;
  font-size: 1.5em;
}

#lifes {
  width: 10%;
}

#lifes img {
  width: 30px;
  margin: 0 5px;
}

#flappybird {
  width: 92px;
  overflow: hidden;
  position: absolute;
  top: 45%;
  left: 45%;
}

#sprite {
  position: relative;
}

.pipe, .up, .down {
  position: absolute;
  /*z-index: 2;*/
}
.pipe {
  width: 8%;
  height: 100%;
}
.up, .down {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.up {
  top: 0;
  transform: rotate(180deg);
}
.down {
  bottom: 0;
}

/* J'écarte par défaut chaque pipe les uns des autres */
.pipe:nth-child(1) {
  left: 15%;
}

.pipe:nth-child(2) {
  left: 40%;
}

.pipe:nth-child(3) {
  left: 65%;
}

.pipe:nth-child(4) {
  left: 90%;
}

/* Modal (background) */
.modal {
  display: none; /* Caché par défaut */
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  /*left: 0;
  top: 0;*/
  width: 100%;
  height: 100%;
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15% auto;
  padding: 20px;
  width: 40%;
  text-align: center;
}

.modal-content img {
  width: 100%;
}

.gameOver{
  text-transform: uppercase;
  font-size: 2.5em;
}

#replay {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #4C3C46;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  /*padding: 10px 5px;
  border: solid 2px #533846;
  border-radius: 20px;
  width: 30%;*/
  margin-top: 20px;
}

#replay:hover,
#replay:focus {
  color: #676064;
  text-decoration: none;
  cursor: pointer;
}
